.wave-emoji {
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
  animation-name: wave;
  display: inline-block;
  transform-origin: 70% 70%;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(-10deg);
  }

  20% {
    transform: rotate(12deg);
  }

  30% {
    transform: rotate(-10deg);
  }

  40% {
    transform: rotate(9deg);
  }

  50% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.nav-container {
  position: sticky !important;
  top: 0;
  z-index: 1000;
}

.header-section {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #ffffff;
}

.portfolio-navbar {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 22px auto;
}

.responsive-menu-icon {
  margin-top: 16px;
}

.responsive-menu {
  display: none;
  background-color: #f8f9fa;
  padding: 20px;
}

.responsive-menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.responsive-menu-list li {
  margin-bottom: 10px;
}

.close-icon {
  display: none;
  cursor: pointer;
}

.logo-container {
  padding: 7px 30px 10px 10px;
  margin: 12px 0px;
  border: 1px solid #1f1f1f;
}

.nav-links {
  display: inline-block;
}




.nav-link-list a {
  border-radius: 5px;
  padding: 8px;
  transition: background-color 0.3s ease;
}

.nav-link-list a:hover {

  background-color: rgb(223, 223, 223);
}

.resume-btn,
.hire-btn,
.msg-btn {
  height: 50px;
  width: 101px;
  padding: 10px 20px;
  border-radius: 3px;
  margin: 0px 5px;
  border: 1px solid gray;
  background-color: white;
}

.resume-btn a {
  text-decoration: none;
  color: black;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-buttons button:hover {
  background-color: rgb(223, 223, 223);
}

.navbar-section {
  position: sticky !important;
}